<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoBlog</title>
</head>
<body>
<h1>GoBlog</h1>
<a href="/">Index - Show me the newest Post</a>
<hr>
{{range .Posts}}
<p><b>{{.Author}}</b> wrote at <b>{{.Date}}</b>:</p>
<form method="POST" action="/change">
    <input type="text" name="content" value="{{.Content}}"> <br>
    <input type="hidden" name="postID" value="{{.PostID}}">
    <input type="hidden" name="action" value="edit">
    <input type="submit" value="Edit">
</form>
<form method="POST" action="/change">
    <input type="hidden" name="postID" value="{{.PostID}}">
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
</form>
<hr>
{{end}}

{{if .UserLoggedIn}}
<a href="/logout">Logout ({{.UserName}})</a>
<a href="/chpass">Change Password</a>
{{end}}
</body>
</html>